.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

@media (min-width: 992px) {
  .layout {
    grid-template-columns: 2fr 1fr;
  }
}

.emptyCart {
  text-align: center;
  font-family: sans-serif;
  padding: 50px;
}

.cartList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cartItem {
  display: flex;
  gap: 20px;
  padding: 20px;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  align-items: center;
}

.itemImage {
  width: 100px;
  height: 100px;
  object-fit: contain;
}



.itemInfo {
  flex: 1;
}


.itemInfo h3 {
  font-size: 16px;
  margin: 0 0 5px 0;
}

.brand {
    color: #767676;
    font-size: 12px;
    font-weight: 600;
}

.removeBtn {
  background: none;
  border: none;
  color: #004b91;
  text-decoration: underline;
  cursor: pointer;
  font-size: 13px;
  padding: 0;
  margin-top: 10px;
}



.summaryCard h2 {
  margin-top: 0;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

.summaryItem {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  font-size: 16px;
}

.totalCart {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 2px solid #ddd;
  font-size: 22px;
  font-weight: bold;
}

.button {
  width: 100%;
  background: #f00;
  color: white;
  border: none;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 25px;
  cursor: pointer;
}

.button:hover{
  background:rgb(219, 1, 1)0;
}

.quantityControls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top:10px;
}

.label {
  font-size: 14px;
  color: #666;
}

.selector {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.quantityBtn {
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 18px;
}

.quantityBtn:hover {
  background-color: #e2e2e2;
}

.quantityValue {
  width: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}